@page
@model CoreShindigz.Areas.Api.Pages.InstructionSheets.SetupModel

@{
    Layout = "_Layout";
}


<h2>  Listing of directory: @Model.DirectoryName</h2>

@Model._filenames.Length files found <br />

@foreach(var sheet in Model.InstructionSheets)
{
    @sheet.FileName <br>
}


