@page
@model CoreShindigz.Areas.Api.Pages.InstructionSheets.SetupModel
@{
    Layout = "_Layout";
}


<h2>  Listing of directory content</h2>

<text>dump model here</text>
@Model._filenames.Length  <br />

@foreach(var sheet in Model.InstructionSheets)
{
    @sheet.FileName <br>
}

@Model.Sheet1.FileName: @Model.Sheet1.UNCpath
