@page
@model CoreShindigz.Areas.Api.Pages.InstructionSheets.SetupModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>setup</title>
</head>
<body>
    LIsting of directory content
</body>
</html>
